.form-card {
    background-color: rgba(0, 0, 0, 0.3);
}

#formSearch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#formSearch div:first-child {
    width: 130px;
}

#formSearch button {
    width: 170px;
}

@media screen and (max-width: 575px) {
    #formSearch button {
        width: 50px;
    }
}