* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: url(../images/backgroundMovie.png);
}

/* #tvimages div {
    display: inline-block;
    max-width: 20%; 
    height: 100%;
    
} */

div.inner-item img {
    width: 100%;
    height: auto;
    padding: 0 6px;
    float: left;
  }
    
  * {
    box-sizing: border-box;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100% !important;
    opacity: 0;
    transition: .5s ease;
    background-color: gray;
  }
  
div.inner-item {
    position: relative;
    width: 20%;
    display: inline-block;
}

 .inner-item:hover .overlay{
     opacity: 1;
 }

 .text {
    color: white;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

header {
    min-height: 50px;
}

footer {
    min-height: 50px;
    background: gray;
    margin-top: auto;
}