* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#tvimages div {
    display: inline-block;
    max-width: 20%; 
    height: 100%;
}

div.inner-item img {
    width: 100%;
    height: auto;
    padding: 0 6px;
    float: left;
    width: 20%;
  }
    
  * {
    box-sizing: border-box;
  }
/*   
.center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        } */

header {
    min-height: 50px;
}

footer {
    min-height: 50px;
    background: gray;
    margin-top: auto;
}